.menu-container {
  
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  padding: 15px;
  display: none;
  
  &.is-open {
    display: block;
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.mobile-menu {
  margin: 0;
  padding-left: 40px;
  padding-right: auto;
  margin-bottom: 150px;
}

.mobile-menu__item:hover,
.mobile-menu__item:focus {
  color: #2196F3;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  cursor: pointer;
}

.mobile-menu__link:hover,
.mobile-menu__link:focus {
  color: #2196F3;
}

.menu-contacts {
  padding-left: 40px;
  margin-bottom: 60px;
}

.menu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}


.menu-contacts__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.menu-socials {
  display: flex;
  margin: 0;
  margin-top: auto;
  padding-left: 40px;
  padding-right: auto;
}

.menu-socials__item {
  padding-top: 10px;

  &:not(:first-child) {
    padding-left: 10px;
  }
}

.menu-socials__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}


.menu-socials__name {
border-right: 1px solid rgba(33, 33, 33, 0.2);
padding-right: 10px;
}

.menu-contacts__link:hover,
.menu-contacts__link:focus {
  color: #2196F3;
}

.icon-close:hover,
.icon-close:focus,
.icon-menu:hover,
.icon-menu:focus {
  fill: #2196F3;
}